.FormSkeleton {
  width: 350px;
  height: 500px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
}
.FormSkeleton__header {
  height: 20%;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
